.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta a altura para 100% */
  background: linear-gradient(to bottom, #4b0082, #800080); /* Gradiente roxo escuro */
  font-family: var(--font-geist-sans);
}

.title {
  font-size: 4rem;
  color: #fff; /* Mudando a cor do texto para branco para melhor contraste */
}

.description {
  font-size: 1.5rem;
  color: #ddd; /* Mudando a cor do texto para um tom mais claro */
  margin: 20px 0;
}

.buttonContainer {
  display: flex;
  gap: 10px; /* Espaçamento entre os botões */
  flex-wrap: wrap; /* Permite que os botões se movam para a próxima linha em telas menores */
  justify-content: center; /* Centraliza os botões */
}

.input {
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
  .title {
    font-size: 3rem; /* Reduz o tamanho da fonte do título */
  }

  .description {
    font-size: 1.2rem; /* Reduz o tamanho da fonte da descrição */
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2.5rem; /* Reduz ainda mais o tamanho da fonte do título */
  }

  .description {
    font-size: 1rem; /* Reduz ainda mais o tamanho da fonte da descrição */
  }
}
